extends layout-admin

block content
    h1 Админка
    
    <table>
    - for (var e = 0; e < exchList.length; e++)
        <tr>
            <td>
            p Обменник: #{ exchList[e] }
            </td>
        </tr>
    </table>
