doctype html

html
    head
        div.head(style="position: absolute; top: 0; left: 0; width: 100%; text-align: right")
            a(href="/logout") ⚡
        
        title= title + ' - Admin'
        
        link(rel='stylesheet', href='/css/common.css')
        link(rel='stylesheet', href='/css/admin.css')
        
    body
        block content
