doctype html

html
    head
        div.head(style="position: absolute; top: 0; left: 0; width: 100%; text-align: right")
            a(href="/logout" style="text-decoration: none" title="Выход") ⚡
        
        title= title + ' - Admin'
        
        link(rel='stylesheet', href='/css/common.css')
        link(rel='stylesheet', href='/css/admin.css')
        
        script(src="//cdn.jsdelivr.net/npm/underscore@latest/underscore-umd-min.js")
        script(src="//ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
        script(src="//knockoutjs.com/downloads/knockout-3.5.1.js")
        script(src="/admin/js/exchanger_edit.js")
        
    body
        block content
