form#exchange-form
    table
        tbody
            tr
                td(width="50%")
                    | Отдаю
                    select(name="from", value="BTC")
                        option(value="BTC") Bitcoin
                td Получаю
