//form#exchange-form(data-bind="with: exchangeRates.filter")
    .column
        h2 Отдаю
        .line
            select(name="from", data-bind="options: pairsToCurrenciesTo(PAIRS()), value: from, optionsCaption: 'Отдаю...', optionsText: 'name', optionsValue: 'symbol', valueAllowUnset: true")
              each currency in pairsToCurrenciesFrom(getCountTree())
                option(value = currency.symbol, selected = (currency.symbol == exchange.form.from))= currency.name
            
            // #{ JSON.stringify( pairsToCurrenciesFrom(getCountTree()) ) }
        //.line
            input(name="in", value="0.02", disabled)
    .column
        h2 Получаю
        .line
            select(name="from", data-bind="options: pairsToCurrenciesTo(PAIRS()), value: to, optionsCaption: 'Получаю...', optionsText: 'name', optionsValue: 'symbol', valueAllowUnset: true")
              each currency in pairsToCurrenciesTo(getCountTree())
                option(value = currency.symbol, selected = (currency.symbol == exchange.form.to))= currency.name
            
            // #{ JSON.stringify( pairsToCurrenciesTo(getCountTree()) ) }
        //.line
            input(name="out", value="50000", disabled)

//- FROM
aside.fixed.from(data-currency-list data-bind="\
    template: { name: 'from-currency.template', foreach: PAIRS_FROM },\
    event: exchangeRates.CURRENCY_LIST_EVENTS($element),\
")
    //- SSR from
    for currency in pairsToCurrenciesFrom(getCountTree())
        label(class=[ symbol === exchange.form.from && 'selected', symbol === exchange.form.to && 'disabled' ].filter(i=>i).join(' '))
            input(type="radio" value=symbol checked=(symbol === exchange.form.from) disable=(symbol === exchange.form.to))
            span(data-bind="text: name")

script(type="html/template" id="from-currency.template")
    <label data-bind="css: { selected: symbol === exchangeRates.filter.from(), disabled: symbol === exchangeRates.filter.to() }">
        <input type="radio" data-bind="value: symbol, checked: exchangeRates.filter.from, disable: symbol === exchangeRates.filter.filter.to()"/>
        <span data-bind="text: name"></span>
        <sub data-bind="text: PAIRS()[ symbol ][ exchangeRates.filter.to() ]"></sub>
    </label>

//- TO
aside.fixed.to(data-currency-list style="direction: rtl" data-bind="\
    template: { name: 'to-currency.template', foreach: PAIRS_TO },
    event: exchangeRates.CURRENCY_LIST_EVENTS($element)\
")
    //- SSR from
    for currency in pairsToCurrenciesTo(getCountTree())
        label(class=[ symbol === exchange.form.to && 'selected', symbol === exchange.form.from && 'disabled' ].filter(i=>i).join(' '))
            input(type="radio" value=symbol checked=(symbol === exchange.form.to) disable=(symbol === exchange.form.from))
            span(data-bind="text: name")

script(type="html/template" id="to-currency.template")
    <label data-bind="css: { selected: symbol === exchangeRates.filter.to(), disabled: symbol === exchangeRates.filter.from() }" style="direction: ltr">
        <sub data-bind="text: PAIRS()[ exchangeRates.filter.from() ][ symbol ]"></sub>
        <span data-bind="text: name"></span>
        <input type="radio" data-bind="value: symbol, checked: exchangeRates.filter.to, disable: symbol === exchangeRates.filter.from()"/>
    </label>
