form#exchange-form
    .column
        h2= Отдаю
        select(name="from", value="BTC")
            option(value="BTC") Bitcoin (BTC)
        input(name="in", value="0.02")
    .column
        h2= Получаю
        select(name="to", value="SBERRUB")
            option(value="SBERRUB") Sberbank RUB (SBERRUB)
        input(name="out", value="50000")
