//- FROM
aside.fixed.from(data-currency-list=true data-bind="event: exchangeRates.CURRENCY_LIST_EVENTS($element)")
    label.sticky-head(style="font-size: 1.2em; font-weight: bolder;") Отдаете...
    //- SSR from
    <!--ko data-bind="template: { name: 'from-currency.template', foreach: PAIRS_FROM }"-->
        for currency in pairsToCurrenciesFrom(getCountTree())
            label(class=[ symbol === exchange.form.from && 'selected', symbol === exchange.form.to && 'disabled' ].filter(i=>i).join(' '))
                input(type="radio" value=symbol checked=(symbol === exchange.form.from) disable=(symbol === exchange.form.to))
                span(data-bind="text: name")
    <!--/ko-->

script(type="html/template" id="from-currency.template")
    label(data-bind="css: { selected: symbol === exchangeRates.filter.from(), disabled: symbol === exchangeRates.filter.to() }")
        input(type="radio" data-bind="value: symbol, checked: exchangeRates.filter.from, disable: symbol === exchangeRates.filter.to()")
        span(data-bind="text: name")
        //sub(data-bind="text: PAIRS()[ symbol ][ exchangeRates.filter.to() ]")

//- TO
aside.fixed.to(data-currency-list=true data-bind="event: exchangeRates.CURRENCY_LIST_EVENTS($element)" style="direction: rtl")
    label.sticky-head(style="font-size: 1.2em; font-weight: bolder;") Получаете...
    //- SSR to
    <!--ko data-bind="template: { name: 'to-currency.template', foreach: PAIRS_TO }"-->
        for currency in pairsToCurrenciesTo(getCountTree())
            label(class=[ symbol === exchange.form.to && 'selected', symbol === exchange.form.from && 'disabled' ].filter(i=>i).join(' '))
                input(type="radio" value=symbol checked=(symbol === exchange.form.to) disable=(symbol === exchange.form.from))
                span(data-bind="text: name")
    <!--/ko-->

script(type="html/template" id="to-currency.template")
    label(data-bind="css: { selected: symbol === exchangeRates.filter.to(), disabled: symbol === exchangeRates.filter.from() }" style="direction: ltr")
        //sub(data-bind="text: PAIRS()[ exchangeRates.filter.from() ][ symbol ]")
        span(data-bind="text: name")
        input(type="radio" data-bind="value: symbol, checked: exchangeRates.filter.to, disable: symbol === exchangeRates.filter.from()")
