form#exchange-form(data-bind="with: exchangeRates.filter")
    .column
        h2 Отдаю
        .line
            select(name="from", data-bind="with: from")
              each currency in pairsToCurrenciesFrom( pairsCountTree() )
                option(value = currency.symbol, selected = (currency.symbol == "BTC"))= currency.name
        .line
            input(name="in", value="0.02")
    .column
        h2 Получаю
        .line
            select(name="from", data-bind="with: to")
              each currency in pairsToCurrenciesTo( pairsCountTree() )
                option(value = currency.symbol, selected = (currency.symbol == "SBERRUB"))= currency.name
        .line
            input(name="out", value="50000")
