//- table templates
script(type="html/template" id="rate-tr.template")
    tr(data-bind="with: ko.unwrap($data)")
        td.rate-col.rate-flags(data-bind="foreach: _.keys(param).sort().map(p => ({ liter: p.substr(0, 1), flag: p }))")
            i.rate-flag(title data-bind="css: 'rate-flag-' + flag, attr: { title: FLAG_BY_SYMBOL[flag] && FLAG_BY_SYMBOL[flag].title || flag }")
        td.rate-col.rate-changer(data-bind="with: EXCHANGER_BY_ID()[ exchangerId ]")
            a(href target="_blank" data-bind="text: name, attr: { href: rateExchangerExchangeUrl($parent, $data) }")
        td.rate-col.rate-from(data-bind="template: { name: 'number-currency.template', data: { value: $data['in'],  symbol: $data['from'] } }")
        td.rate-col.rate-to(data-bind="template: { name: 'number-currency.template', data: { value: $data['out'], symbol: $data['to']   } }")
        td.rate-col.rate-amount(data-bind="text: $data['amount']")


script(type="html/template" id="number-currency.template")
    .float(data-bind="text: value")
    .currency(data-bind="text: CURRENCY_NAME_BY_SYMBOL[symbol] || symbol")


//- table
table.rates#exchange-table.initial(data-bind="attr: { 'class': '' }")
    thead(data-bind="with: filter")
        tr.sticky-head(data-bind="css: 'sort-dir_' + sortDir()")
            th.rate-col.rate-service( data-bind="style: { color: $parent.loading() ? 'black' : 'transparent' }", style="color: transparent") ...
            th.rate-col.rate-changer( data-bind="css: { 'sort-by': sortBy() === 'changer' }, click: () => toSort('changer')") Обменник
            th.rate-col.rate-from(    data-bind="css: { 'sort-by': sortBy() === 'from' },    click: () => toSort('from')"   ) Отдаёте
            th.rate-col.rate-to(      data-bind="css: { 'sort-by': sortBy() === 'to' },      click: () => toSort('to')"     ) Получаете
            th.rate-col.rate-amount(  data-bind="css: { 'sort-by': sortBy() === 'amount' },  click: () => toSort('amount')" ) Резерв
    
    tbody(data-bind="template: { name: 'rate-tr.template', foreach: rates.sortedDirectedFixedFloating }")
        //-    tbody(data-bind="template: { name: 'rate-tr.template', foreach: rates.mutableRowsArray() /* .sortedDirectedFixedFloating */ }")
        //- SSR with result rates page
        for rate in exchange.ratesPage
            tr
                td(class="rate-col rate-flags")
                    for flag in Object.keys(rate.param).sort()
                        i(title = FLAG_BY_SYMBOL[flag] && FLAG_BY_SYMBOL[flag].title || flag, class="rate-flag rate-flag-" + flag.substr(0, 1))
                
                td(class="rate-col rate-changer")
                    - var exchanger = getExchangerById(rate.exchangerId)
                    a(href = rateExchangerExchangeUrl(rate, exchanger), target="_blank")
                        = exchanger.name
                
                td.rate-col.rate-from
                    .float= rate["in"]
                    .currency= CURRENCY_NAME_BY_SYMBOL[rate.from] || rate.from
                
                td.rate-col.rate-to
                    .float= rate["out"]
                    .currency= CURRENCY_NAME_BY_SYMBOL[rate.to] || rate.to
                
                td.rate-col.rate-amount
                    = Number(rate["amount"]).toFixed(4)

//- provide loading/loaded states
//
    tbody(data-bind="style: { color: loading() || rates().length ? 'transparent' : 'inherit' }")
        tr
            td(colspan="8") Нет данных для выбранного направления обмена

div(data-bind="style: { color: loading() || rates().length ? 'transparent' : 'inherit' }")
    | Нет данных для выбранного направления обмена
    //div(data-bind="text: loading() ? '...' : ''" style="text-align: center")


//- Popular pairs with selected pair
script(type="html/template" id="pair-link-row.template")
    div
        a(href data-bind="\
            attr: {\
                href: '/' + from.toLowerCase() + '-to-' + to.toLowerCase()\
            },\
            text: currencyToName(from) + ' → ' + currencyToName(to)\
        ")

//- div(style="text-align: center") 
h2 Популярные (у обменников) направления обмена:

div(style="display: flex" data-bind="with: { from: exchangeRates.filter.from(), to: exchangeRates.filter.to() }")
    div(style="flex: 50%" data-bind="\
        template: {\
            name: 'pair-link-row.template',\
            foreach: pairsToCurrenciesTo(PAIRS(), from).slice(0, 5).map(cu => ({ from, to: cu.symbol }))\
        }\
    ")
        //- SSR
        for cu in pairsToCurrenciesTo(getCountTree(), exchange.form.from).slice(0, 5).map(cu => ({ from: exchange.form.from, to: cu.symbol }))
            p
                a(href='/' + (cu.from || JSON.stringify(cu)).toLowerCase() + '-to-' + (cu.to || JSON.stringify(cu)).toLowerCase())= currencyToName(cu.from) + ' → ' + currencyToName(cu.to)
    
    div(style="flex: 50%; text-align: right" data-bind="\
        template: {\
            name: 'pair-link-row.template',\
            foreach: pairsToCurrenciesFrom(PAIRS(), to).slice(0, 5).map(cu => ({ from: cu.symbol, to }))\
        }\
    ")
        //- SSR
        for cu in pairsToCurrenciesFrom(getCountTree(), exchange.form.to).slice(0, 5).map(cu => ({ from: cu.symbol, to: exchange.form.to }))
            p
                a(href='/' + (cu.from || JSON.stringify(cu)).toLowerCase() + '-to-' + (cu.to || JSON.stringify(cu)).toLowerCase())= currencyToName(cu.from) + ' → ' + currencyToName(cu.to)
