form#exchange-form
    .column
        h2 Отдаю
        .line
            select(name="from", value="BTC")
              each currency in pairsToCurrenciesFrom( getCurrencyPairs() )
                option(value=currency.symbol) #{currency.name}
        .line
            input(name="in", value="0.02")
    .column
        h2 Получаю
        .line
            select(name="to", value="SBERRUB")
              each currency in pairsToCurrenciesTo( getCurrencyPairs() )
                option(value=currency.symbol) #{currency.name}
        .line
            input(name="out", value="50000")
