table.rates#exchange-table
    thead(data-bind="with: filter")
        tr(data-bind="css: 'sort-dir_' + sortDir()")
            th.rate-col.rate-service( data-bind="style: { color: $parent.loading() ? 'black' : 'transparent' }", style="color: transparent") ...
            th.rate-col.rate-changer( data-bind="css: { 'sort-by': sortBy() === 'changer' }, click: () => toSort('changer')") Обменник
            th.rate-col.rate-from(    data-bind="css: { 'sort-by': sortBy() === 'from' },    click: () => toSort('from')"   ) Отдаёте
            th.rate-col.rate-to(      data-bind="css: { 'sort-by': sortBy() === 'to' },      click: () => toSort('to')"     ) Получаете
            th.rate-col.rate-amount(  data-bind="css: { 'sort-by': sortBy() === 'amount' },  click: () => toSort('amount')" ) Резерв
    
    tbody(data-bind="template: { name: 'rate-tr.template', foreach: /*TABLE_STUB_DATA ||*/ rates.sortedDirectedFixedFloating }")
        for rate in exchange.ratesPage
            tr
                td(class="rate-col rate-flags")
                    for flag in Object.keys(rate.param).sort()
                        i(title = FLAG_BY_SYMBOL[flag] && FLAG_BY_SYMBOL[flag].title || flag, class="rate-flag rate-flag-" + flag.substr(0, 1))
                
                td(class="rate-col rate-changer")
                    a(href = rateExchangerExchangeUrl(rate, getExchangerById(rate.exchangerId)), target="_blank")
                        = exchanger.name
                
                td.rate-col.rate-from
                    = rate["in"]
                    = CURRENCY_NAME_BY_SYMBOL[rate.from] || rate.from
                
                td.rate-col.rate-to
                    = rate["out"]
                    = CURRENCY_NAME_BY_SYMBOL[rate.to] || rate.to
                
                td.rate-col.rate-amount
                    = rate["amount"]
//
    tbody(data-bind="style: { color: loading() || rates().length ? 'transparent' : 'inherit' }")
        tr
            td(colspan="8") Нет данных для выбранного направления обмена

div(data-bind="style: { color: loading() || rates().length ? 'transparent' : 'inherit' }")
    | Нет данных для выбранного направления обмена
