//- Можно рассмотреть ссылки на соц сети если планируются, faq, контакты 
//-   и самые популярные пары
//- Внешние ссылки только на соцсети проекта в ноиндекс и ноуфоллоу
footer
    .column(style="flex: 38%")
        h4 Обменять Bitcoin на другие валюты
        div
            a(href="/btc-to-eth#↓to")     Bitcoin (BTC) → Ethereum (ETH)
        div
            a(href="/btc-to-cardrub#↓to") Bitcoin (BTC) → Visa/MasterCard RUB
        div
            a(href="/btc-to-p24uah#↓to")  Bitcoin (BTC) → Приват 24 (UAH)
        div
            a(href="/btc-to-qwrub#↓to")   Bitcoin (BTC) → QIWI RUB
        div
            a(href="/btc-to-tcsbrub#↓to") Bitcoin (BTC) → Тинькофф
    
    .column(style="flex: 24%; text-align: center")
        div
            a(href="/faq") F.A.Q.
        div
            a(href="/exchangers") Обменники
        div
            a(href="/contacts") Контакты
    
    .column(style="flex: 38%; text-align: right")
        h4 Получить Сбербанк за другие валюты
        div
            a(href="/btc-to-sberrub#↓to")      Bitcoin (BTC) → Сбербанк
        div
            a(href="/p24uah-to-sberrub#↓to") Приват 24 (UAH) → Сбербанк
        div
            a(href="/eth-to-sberrub#↓to")     Ethereum (ETH) → Сбербанк
        div
            a(href="/xmr-to-sberrub#↓to")       Monero (XMR) → Сбербанк
        div
            a(href="/ltc-to-sberrub#↓to")     Litecoin (LTC) → Сбербанк
