footer
    .column
        p
            a(href="/faq") F.A.Q.
        p
            a(href="/exchangers") Обменники
        p
            a(href="/contacts") Контакты
    
    .column(style="text-align: right")
        p
            a(href="/btc-to-sberrub") Bitcoin (BTC) на Сбербанк
        p
            a(href="/p24uah-to-eth#↑from") Приват 24 UAH на Ethereum (ETH)
