header
    ul.top-status-line
        li
            | Всего курсов:
            em.value= aggregator.pairsCount()
            | Обменников:
            em.value #{aggregator.exchangersCount()}
            | Обновление:
            em.value #{moment( aggregator.oldestUpdatedAt() ).fromNow()}
    
    div.logo Exnode
    
    ul.menu
        li.de-active
            a(href="/") Главная
        li
            a(href="/faq") ЧаВО
