extends layout

- var title = "Как с нами связаться"

block content
    h1= title
    
    p SITE.ru всегда готов к обратной связи. Напишите нам, если:
    ul
        li у вас возникли вопросы по использованию сайта;
        li у вас есть предложения по улучшению сервиса;
        li вы хотите добавить обменный пункт на SITE.ru;
        li у вас проблемы с использованием обменного пункта;
        li вы хотите сообщить о нарушении обменником финансовых обязательств или его неисправности.
    
    p Используйте представленную форму обратной связи. Постарайтесь описать проблему как можно более подробно, это поможет быстрее ее решить.
    p Перед отправкой сообщения проверьте указанный e-mail. Помните: в случае ошибки в адресе мы не сможем с вами связаться.
