extends layout

block content
    h1= title
    
    p Перед вами список обменных пунктов, с которыми работает мониторинг SITE.ru. Все они прошли проверку и подтвердили свою надежность.
    
    ul
        for exch in lo.sortBy(getExchangerList(), 'name')
            li= exch.name
    
    p Чтобы узнать, какие обменники работают с конкретными валютами, используйте боковые меню. Выберите на левой панели валюту, которую хотите обменять, а на правой – которую хотите получить. 
    p Как добавить в этот список свой обменный пункт, читайте на нашем сайте.
    
