extends layout

- var title = "Вопросы и ответы"

block content
    h1= title
    
    ol
        li
            .question Чем мне будет полезен SITE.ru?
            .response
                p SITE.ru – это мониторинг обменных пунктов, который предлагает сравнительный курс по выбранному направлению, актуальный на данный момент. Он будет полезен в случае, когда нужно срочно купить или продать криптовалюту с максимальной выгодой. SITE.ru поможет за несколько секунд найти лучший обменный курс с минимальной комиссией.
        li
            .question Почему обменным пунктам из мониторинга SITE.ru можно доверять?
            .response
                p Каждый обменник, представленный в нашей таблице, прошел тщательную проверку перед его добавлением на сайт. Мы убедились в его надежности и честности, в безопасности совершаемых сделок.
                p Проверка при добавлении – только первый этап обеспечения безопасности. Мы непрерывно мониторим обменные пункты после их появления на сайте и следим, чтобы обязательства строго соблюдались. В случаях недобросовестности мы предпринимаем меры к тому, чтобы обменник устранил спорные моменты и исправил ситуацию. Если вопрос не решается, мы убираем обменный пункт из рейтинга временно или постоянно.
                p Мы также прислушиваемся к мнению наших пользователей и оперативно реагируем на их заявления. Если вы столкнулись с проблемой при использовании какого-либо из указанных обменных пунктов, сообщите нам об этом. Мы немедленно примем меры. Ваше мнение помогает нам делать сервис лучше и надежнее.
                p Оно также стимулирует обменные пункты соблюдать условия договора. Обменники дорожат своей репутацией и хотят оставаться доступными для пользователей SITE.ru. 
                p Внимание! Несмотря на тщательную проверку обменников и активное участие в решении возникших проблем SITE.ru не несет ответственность за их деятельность. Пожалуйста, помните, что при переходе на сайты обменных пунктов, вы оказываетесь на странице компаний, юридически не связанных с SITE.ru и неподконтрольных нашему сервису. В случае потери средств при обмене, совершенном на одном из представленных сайтов, мы не несем никаких обязательств.
                p Также обращаем ваше внимание, что описанные случаи крайне редки. Мы проверяем сервисы по множеству показателей, и наша система доказала свою надежность.
        li
            .question Выступает ли SITE.ru гарантом сделок?
            .response
                p Нет, SITE.ru не является гарантом сделок. Наш сервис представляет собой мониторинг обменных пунктов и оказывает исключительно информационную поддержку. Наша задача – сравнение обменных курсов по выбранному направлению в разных компаниях и предоставление этих сведений пользователям.
                p Мы не участвуем в обменных операциях лично и не связаны юридически с обменными пунктами, указанными на нашем сервисе. Мы не получаем отчислений за операции, которые пользователи осуществляют в обменниках, и не имеем доступ к связанной с ними информации.
                p Мы также не оказываем влияния на выбор пользователями того или иного обменника. SITE.ru не занимается рекламой и не продвигает обменные пункты в рейтинге. Решение о переходе на сайт и совершение операции пользователи принимают самостоятельно, исходя из представленных данных.
                p Учитывая все перечисленное, SITE.ru не является гарантом обменных сделок. Если вам требуется дополнительная страховка при совершении операции, рекомендуем обратиться в сервисы безопасных сделок.
        li
            .question Хочу добавить на SITE.ru свой обменный пункт. Как это сделать?
            .response
                p SITE.ru приглашает к сотрудничеству автоматические и полуавтоматические обменные пункты, а также обменники, работающие с электронными деньгами и наличными. Добавление вашего обменного пункта на наш сайт – это отличная возможность поднять посещаемость, привлечь целевую аудиторию и увеличить доход.
                p Чтобы присоединиться к SITE.ru и начать работу, вам нужно выполнить следующие действия:
                ul
                    li убедиться в соответствии нашим требованиям. С ними вы можете ознакомиться в соответствующем разделе. К числу основных требований можно отнести следующие: стабильное функционирование вашего ресурса, его круглосуточная доступность для пользователей, наличие экспортного файла курсов с автоматическим обновлением и достоверной информацией;
                    li прислать нам данные вашего обменного пункта;
                    li дождаться окончания проверки информации и добавления обменного пункта на сайт.
                p После этого название вашего ресурса, обменный курс и резерв будут показаны всем пользователям, желающим совершить обмен валют по тому направлению, с которым вы работаете.
        li
            .question Как выгодно обменять криптовалюту?
            .response 
                p Чтобы продать или купить криптовалюту с минимальной комиссией, необходимо выполнить следующие действия:
                ul
                    li выбрать валютную пару для обмена, пользуясь боковыми меню. Например, выбрать в меню слева Bitcoin (BTC), а в меню справа Monero (XMR);
                    li изучить таблицу, которая сформируется автоматически. В ней указан список обменных пунктов, работающих с данным направлением валют, и их курсы на данный момент. Убедитесь, что резерва обменника достаточно для совершения операции, которую вы планируете;
                    li выбрать подходящий обменный пункт и кликнуть на его название, чтобы перейти на сайт обменника;
                    li выполнить обменную операцию на его сайте.
        li
            .question Почему SITE.ru идеален для работы с криптовалютой?
            .response
                p Обменные пункты в интернете представляют немалый интерес для криптоэнтузиастов, так как это быстрый и простой способ обменять криптовалюту на электронные деньги или наличные. Поэтому мы сделали сервис удобным для них.
                ul
                    li SITE.ru имеет простой интерфейс, в котором можно разобраться за пару секунд. Достаточно указать направление обмена, выбрав валюты в боковых меню, и список доступных обменников, работающих с указанной криптовалютой, будет тут же сформирован. Искать обменный пункт проводить обмен с помощью мониторинга легко и просто.
                    li На нашем сайте представлен большой список обменных пунктов. Он регулярно обновляется и пополняется, у нас – только актуальные данные.
                    li SITE.ru представляет большой выбор направлений обмена, с использованием различных криптовалют. Также представлены электронные платежные системы, помогающие быстро продать или купить криптовалюту.
                    li Благодаря отзывам пользователей вы можете больше узнать об обменном пункте до того, как перейти на его страницу и совершить операцию. Все отзывы добавляются реальными пользователями, вы можете узнать честное мнение из первых рук.
    
    h2 Как обменять валюту?
    
    p Чтобы обменять валюту при помощи SITE.ru, вам нужно сделать пять простых шагов.
    ol
        li
            h3 Выберите исходную и целевую валюты
            p Чтобы указать направление обмена, воспользуйтесь боковыми меню. В панели слева от вас выберите валюту, которую хотите обменять. Потом в панели справа укажите, какую хотите получить. Выбранные валюты будут отмечены. Если вы хотите заменить одну из них или ошиблись с выбором, просто кликните на «окошко» напротив новой валюты.
            p После выбора валют в центральной части страницы появится таблица, в которую входят:
            ul
                li перечень обменных пунктов, работающих по выбранному вами направлению;
                li обменный курс, актуальный на данный момент;
                li резервы обменников, то есть количество валюты, доступной для обмена.
            p По умолчанию самое выгодное предложение находится в верхней части таблицы, то есть обменные курсы располагаются по возрастанию. При необходимости вы можете упорядочить список в обратном порядке, по убыванию. Либо отсортировать таблицу по алфавиту или возрастанию-убыванию резерва. Для этого просто щелкните заголовок нужного столбца. Список обновится автоматически.
        li
            h3 Рассчитайте итоговую сумму
            p При выборе исходной и целевой валюты обменный курс отражается, исходя из суммы в одну единицу выбранной валюты. Чтобы узнать, сколько вы получите, обменяв нужную сумму, воспользуйтесь калькулятором. Он будет полезен, чтобы узнать:
            ul
                li сколько денег за вычетом комиссия вы получите, если переведете конкретную сумму;
                li сколько денег нужно перевести, чтобы получить конкретную, нужную вам сумму.
            p Нажмите кнопку «Рассчитать», и система автоматически произведет нужные расчеты. Так вам не придется заниматься высчитыванием сумм самостоятельно, и вы сэкономите время.
        li
            h3 Выберите обменный пункт
            p Чтобы выбрать обменник из представленного списка, мы рекомендуем:
            ul
                li изучить обменный курс и оценить его выгодность;
                li ознакомиться с отзывами на данный обменник, оставленными нашими пользователями.
            p Отзывы – это главный показатель надежности того или иного обменника. Мы регулярно проверяем работу обменных пунктов и соблюдение ими взятых обязательств. Однако быстрее всего узнать о том, как функционирует тот или иной обменный пункт и нет ли с ним проблем, можно именно из отзывов.
        li
            h3 Перейдите на сайт обменного пункта
            p Если вы нашли оптимальный обменный курс и уверены в надежности обменника, вы можете немедленно перейти на его страницу для совершения операции. Для этого просто кликните по его названию в таблице, и откроется нужное окно.
            p Обратите внимание: для совершения обменных операций большинство обменников требуют выполнить регистрацию (если вы впервые на сайте) или вход (если учетная запись уже есть). 
            p После этого можно приступать непосредственно к обмену валют. Порядок действий может отличаться у разных обменных пунктов. Рекомендуем ориентироваться на инструкцию, приведенную на сайте, который вы используете для конвертации.
            p Если в ходе финансовых операций у вас возникли какие-либо затруднения, вы всегда можете обратиться в техническую поддержку обменного пункта за помощью. Если ситуация не разрешилась и нужна дополнительная помощь, напишите в техподдержку SITE.ru. Мы постараемся помочь с решением вопроса.
        li
            h3 Оставьте отзыв о работе обменного пункта
            p После завершения финансовой операции вы можете поделиться своим мнением о работе обменника на нашем SITE.ru. Для этого перейдите в его профиль на нашем сайте и заполните приведенную форму. Требуется указать свои личные данные, а также написать текст отзыва. Он может быть:
            ul
                li положительным. Расскажите о плюсах обменника;
                li нейтральным. Поделитесь информацией о работе обменного пункта и его функциях;
                li отрицательным. Если вы остались недовольны работой обменника, расскажите, что вам не понравилось и почему. Эти данные будут полезны для других пользователей.
            p После заполнения всех полей останется добавить отзыв. После этого он будет отображаться на SITE.ru.
