extends layout

append css
    link(rel='stylesheet', href="/css/exchange-pair.css", media="all")

block pre-header
    include includes/exch-form.pug

block content
    h1(data-bind="text: exchangeRates.page.title")= title
    
    p
        | На данной странице собран перечень обменных пунктов, работающих с обменом криптовалют по направлению 
        strong(data-bind="text: currencyToName(exchangeRates.filter.from())")= currencyToName(exchange.form.from) 
        | – 
        strong(data-bind="text: currencyToName(exchangeRates.filter.to())")= currencyToName(exchange.form.to)
        | . Вы можете сортировать их по убыванию и возрастанию курса, резерву, рейтингу обменника на основе отзывов.
        | Это поможет выбрать оптимальный курс, найти наиболее выгодное предложение.
        | Информация регулярно обновляется, так что вы получаете свежие, актуальные сведения по данному направлению обмена.
        | Все указанные обменники прошли тщательную проверку и подтвердили свою надежность на практике.
    
    //- != '<!-- ' + JSON.stringify(exchange.form) + ' => ' + JSON.stringify(exchange.ratesPage) + '-->'
    
    include includes/exch-table.pug
    
    h2 Это быстро и удобно
    p Мы помогаем экономить время на поиск оптимального обменника, предоставляющего услуги по обмену криптовалюты 
        em(data-bind="text: currencyToName(exchangeRates.filter.from())")= currencyToName(exchange.form.from) 
        | на 
        em(data-bind="text: currencyToName(exchangeRates.filter.to())")= currencyToName(exchange.form.to)
        | .
        | На данной странице вы можете получить всю необходимую информацию, быстро найти подходящий пункт и перейти на сайт по клику мышки.
        | Это прекрасное решение как для новичков, только знакомящихся с обменом криптовалют в интернете, так и для тех, кто использует подобные сервисы постоянно и хочет найти самое выгодное предложение на данный момент.
        | Используя таблицу со сравнением курсов, вы сможете провести обмен с минимальной комиссией.
    
    p Вы также можете воспользоваться расширенным функционалом нашего сервиса:
        ul
            li калькулятор – для расчета суммы, которую вы отдадите или получите;
            li статистика – для отслеживания курса в течение последнего времени;
            li оповещение – уведомление о появлении курса, отвечающего заданным условиям;
            li двойной обмен – поиск наиболее выгодного обмена с помощью транзитной валюты.
    
    h2 Это надежно
    p Мы добавляем обменные пункты на наш сайт после тщательной проверки, выбираем только те, что подтвердили свою функциональность и надежность.
    p Обмен проводится по защищенным каналам, благодаря чему ваши средства находятся в безопасности.
        | Мы также постоянно мониторим выбранные сервисы на предмет выполнения ими обязательств.
        | Вы также можете ориентироваться на отзывы пользователей, уже совершивших обмен при помощи указанных пунктов.
    p Обращаем ваше внимание, что в работе обменных пунктов могут наблюдаться сбои и неполадки.
        | Если при переходе на страницу обменника вы не можете совершить операцию, обратитесь к его администратору.
        | Иногда автоматический обмен Bitcoin на Dogecoin невозможен, в этом случае он выполняется вручную.
        | Если совершить обмен все же не удалось, просим сообщить об этом нам.
        | Мы определим, носят проблемы обменного пункта временный или постоянный характер и при необходимости исключим его из представленного списка.
    p Также просим сообщать через обратную связь о замеченных ошибках в расчетах. Это поможет нам сделать рейтинг обменных пунктов более функциональным и полезным для вас.

append scripts
    script(type="html/template" id="number-currency.template")
        .float(data-bind="text: value")
        .currency(data-bind="text: CURRENCY_NAME_BY_SYMBOL[symbol] || symbol")
    
    script(type="html/template" id="rate-tr.template")
        <tr>
            <td class="rate-col rate-flags" data-bind="foreach: _.keys(param).sort().map(p => ({ liter: p.substr(0, 1), flag: p }))">
                <i title class="rate-flag" data-bind="
                |    css: 'rate-flag-' + flag,
                |    attr: {
                |        title: FLAG_BY_SYMBOL[flag] && FLAG_BY_SYMBOL[flag].title || flag
                |    }
                |"></i>
            </td>
            <td class="rate-col rate-changer" data-bind="with: EXCHANGER_BY_ID()[ exchangerId ]">
                <a href target="_blank" data-bind="
                |    text: name,
                |    attr: {
                |        href: rateExchangerExchangeUrl($parent, $data)
                |    }
                |"></a>
            </td>
            <td class="rate-col rate-from" data-bind="template: { name: 'number-currency.template', data: { value: $data['in'],  symbol: $data['from'] } }"></td>
            <td class="rate-col rate-to"   data-bind="template: { name: 'number-currency.template', data: { value: $data['out'], symbol: $data['to']   } }"></td>
            <td class="rate-col rate-amount" data-bind="text: $data['amount']"></td>
        </tr>
    
    script(src = "/js/table.js?" + formQueryString)
