extends layout

append css
    link(rel='stylesheet', href="/css/exchange-pair.css", media="all")

block pre-header
    include includes/exch-form.pug

append scripts
    script(src = "/js/table.js?" + formQueryString + '&ver=' + 0)

block content
    h1= title
    
    p
        | Как быстро и выгодно обменять наличные, валюту, электронные деньги или криптовалюту? 
        | Мы знаем ответ. 
        a(href="//Exnode.com") Exnode.com 
        |  – это мониторинг обменников, где вы легко найдете идеальный курс с минимальной комиссией и максимальной выгодой. 
        | Мы постоянно следим за деятельностью обменных пунктов и регулярно обновляем информацию, так что вы получите самые свежие сведения на сегодняшний день.
    
    include includes/exch-table.pug
    
    h2 Для чего нужен обмен валют, мониторинг обменных пунктов?
    p Сегодня все больше людей расплачиваются за товары и услуги в сети, что быстро и удобно. Однако обладатели криптовалют сталкиваются с проблемой: интернет-магазины и различные сервисы крайне редко принимают криптовалюты к оплате.
    p Единственный вариант ими воспользоваться – обменять на электронную валюту, которая в ходу в российском интернете, или вывести на банковский счет. В этом помогают обменные пункты. За определенную сумму они переведут деньги из одной валюты в другую по текущему курсу.
    p Работают обменники и в  обратном направлении: можно использовать деньги на счету, чтобы приобрести криптовалюту. В этом случае также придется заплатить комиссию. Ее размер  варьируется в разных обменных пунктах, поэтому важно найти самый выгодный вариант.
    p И тут на помощь приходит мониторинг обменников криптовалют. Он покажет разные курсы, доступные на данный момент, благодаря чему вы легко подберете вариант с минимальной комиссией.    
    
    h2 Как пользоваться SITE.ru?
    p Чтобы вам было проще искать подходящий курс, мы создали удобную таблицу. В ней вы увидите все обменные пункты, которые осуществляют обмен валют по интересующему вас направлению. А также сравните курс в разных обменниках и подберете подходящий.
    p Чтобы начать поиск, просто выберите направление обмена для этого в меню слева выберите валюту, которую хотите обменять. Потом в меню справа добавьте валюту, которую хотите получить. Готово! Перед вами список обменников,  которые работают по данному направлению, а также их резерв.  Чтобы совершить обмен, перейдите на страницу обменного пункта. Для этого достаточно просто кликнуть на его название.
    p Вы можете сортировать данные в таблице по возрастанию и убыванию, а также по размеру резерва. Это делает поиск более удобным и индивидуальным.
    p Также есть возможность оставлять и читать отзывы. Обменяли криптовалюту, и вам все понравилось? Расскажите об этом  другим пользователям и помогите выбрать хороший обменный пункт!
    
    h2 В чем плюсы мониторинга?
    p Сегодня каждый, кто нуждается в продаже или покупке криптовалюты, пользуется  мониторингом. Почему? На это есть несколько причин.
    ol
        li Мониторинг обменных пунктов криптовалют экономит массу времени на поиск выгодного обменного курса. При самостоятельном сравнении предложений разных обменников пришлось бы потратить несколько часов. На нашем сайте сравнение занимает секунду.
        li Информация быстро устаревает. При «ручном» мониторинге уследить за курсом очень сложно, можно  пропустить выгодное предложение. На SITE.ru информация обновляется каждые несколько секунд, вы можете быть уверены в ее актуальности. Как и в том, что получите ровно ту сумму, что указана в нашей таблице.
        li Мы тщательно выбираем обменные пункты для представления на сайте и следим за исполнением ими обязательств в дальнейшем. Это гарантирует безопасность сделок. Пользуясь обменниками, указанными на SITE.ru, вы можете быть уверены, что им можно доверять.
        li Мы не влияем на рейтинг обменных пунктов. У нас нет фаворитов, мы не рекламируем услуги определенных обменников и не убираем других из списка. Мы представляем вам честную информацию, и только вы решаете, куда обратиться за покупкой или  продажей криптовалюты.
        li Вы можете оценить реальный рейтинг обменного пункта на основе отзывов. Пользователи нашего сайта делятся своим мнением о работе обменников, что поможет вам сделать верный выбор. Вы также можете добавить собственный отзыв и поделиться мнением о работе обменного пункта.

    h2 Как понять, что обменному пункту можно доверять?
    p То, что обменники попал в наш мониторинг, уже является доказательством их надежности. Мы проверяем их по нескольким критериям, потому уверены в их ответственном подходе к финансовым операциям. В случае возникновении проблем с работой обменного пункта мы предпринимаем меры, стимулирующие его решить вопрос как можно скорее.
    p Еще одна причина доверять представленным в списке обменникам – отзывы реальных пользователей, с которыми вы можете ознакомиться на нашем сайте. Они честно расскажут обо всех плюсах и минусах обменников. Система отзывов также стимулирует обменные пункты к честности. Ведь недобросовестное отношение к своим обязанностям повлечет за собой появление отрицательных отзывов и снижение репутации на SITE.ru.
    
    h2 По каким направлениям мы работаем?
    p На SITE.ru вас ждет большой список направлений обмена. Мы работаем со всеми популярными криптовалютами и электронными системами платежей. 
        | Представляем полный список.
    p Advanced Cash USD, RUB, EUR, UAH, Bitcoin BTC, ICON (ICX), Dogecoin (DOGE), Perfect Money USD, Яндекс.Деньги, Zcash (ZEC),  Bitcoin Cash (BCH), Bitcoin SV (BSV), Bitcoin Gold (BTG), WMX, WME, Ether Classic (ETC), Binance Coin (BNB),  Ripple (XRP), Monero (XMR), Dash (DASH), WMZ, WMR,  Tether Omni (USDT), Tether ERC20, QIWI USD, RUB, USD Coin (USDC), NEM (XEM), Augur (REP), NEO (NEO), EOS (EOS), Lisk (LSK), Ethereum ETH,  Cardano (ADA), Stellar (XLM), TRON (TRX), Waves (WAVES), OmiseGO (OMG), 0x (ZRX), Paxos (PAX), Komodo (KMD), BitTorrent (BTT), TrueUSD (TUSD), QIWI EUR, Perfect Money EUR, PM e-Voucher USD, PayPal USD, RUB, EUR, UAH, Litecoin (LTC).
    p Также возможны вывод/оплата на счет/со счета следующих банков: Сбербанк, ВТБ, Тинькофф, Альфа-Банк, Промсвязьбанк, Газпромбанк, Русский Стандарт.
    
    h2 Начните обмен!
    p Неважно, какую валюту вы хотите обменять, какую сумму продать или приобрести, сколько сейчас времени и в каком вы часовом поясе. SITE.ru работает круглосуточно, чтобы вы могли менять криптовалюты в любое удобное время и в любом размере. Воспользуйтесь таблицей мониторинга прямо сейчас: совершите выгодную сделку!
