extends layout

append css
    link(rel='stylesheet', href="/css/exchange-pair.css", media="all")

block pre-header
    include includes/exch-form.pug

block content
    h1(data-bind="text: exchangeRates.page.title")= title
    
    p
        | На данной странице собран перечень обменных пунктов, работающих с обменом криптовалют по направлению #{currencyFN(exchange.form.from)} – #{currencyFN(exchange.form.to)}.
        | Вы можете сортировать их по убыванию и возрастанию курса, резерву, рейтингу обменника на основе отзывов.
        | Это поможет выбрать оптимальный курс, найти наиболее выгодное предложение.
        | Информация регулярно обновляется, так что вы получаете свежие, актуальные сведения по данному направлению обмена.
        | Все указанные обменники прошли тщательную проверку и подтвердили свою надежность на практике.
    
    //- != '<!-- ' + JSON.stringify(exchange.form) + ' => ' + JSON.stringify(exchange.ratesPage) + '-->'
    
    include includes/exch-table.pug

append scripts
    script(type="html/template" id="number-currency.template")
        .float(data-bind="text: value")
        .currency(data-bind="text: CURRENCY_NAME_BY_SYMBOL[symbol] || symbol")
    
    script(type="html/template" id="rate-tr.template")
        <tr>
            <td class="rate-col rate-flags" data-bind="foreach: _.keys(param).sort().map(p => ({ liter: p.substr(0, 1), flag: p }))">
                <i title class="rate-flag" data-bind="
                |    css: 'rate-flag-' + flag,
                |    attr: {
                |        title: FLAG_BY_SYMBOL[flag] && FLAG_BY_SYMBOL[flag].title || flag
                |    }
                |"></i>
            </td>
            <td class="rate-col rate-changer" data-bind="with: EXCHANGER_BY_ID()[ exchangerId ]">
                <a href target="_blank" data-bind="
                |    text: name,
                |    attr: {
                |        href: rateExchangerExchangeUrl($parent, $data)
                |    }
                |"></a>
            </td>
            <td class="rate-col rate-from" data-bind="template: { name: 'number-currency.template', data: { value: $data['in'],  symbol: $data['from'] } }"></td>
            <td class="rate-col rate-to"   data-bind="template: { name: 'number-currency.template', data: { value: $data['out'], symbol: $data['to']   } }"></td>
            <td class="rate-col rate-amount" data-bind="text: $data['amount']"></td>
        </tr>
    
    script(src = "/js/table.js?" + formQueryString)
