extends layout

append css
    link(rel='stylesheet', href="/css/exchange-pair.css", media="all")

block content
    h1= title
    
    include includes/exch-form.pug
    br
    include includes/exch-table.pug

append scripts
    script(src="/js/table.js?sniffer&abc=def&gh=&ijkl")
