doctype html

html
    head
        title(data-bind="text: exchangeRates.page.title() + ' → Exnode'")= (title ? title + ' → ' : '') + "Exnode"
        
        block css
            link(rel='stylesheet', href='/css/common.css', media="all")
        
    body.site-layout.rates
        block pre-header
        
        header
            ul.top-status-line
                li
                    | Всего курсов:
                    em.value= aggregator.pairsCount()
                    | Обменников:
                    em.value #{aggregator.exchangersCount()}
                    | Обновление:
                    em.value #{moment( aggregator.process().now ).fromNow()}
            
            div.logo Exnode
            
            ul.menu
                li.active
                    a(href="/") Главная
                li
                    a(href="/table.html") Обмен валюты
        
        block content
        
        footer
            p Welcome to #{title}
        
    block scripts
        // libs
        script(src="//cdn.jsdelivr.net/npm/underscore@latest/underscore-umd-min.js")
        script(src="//ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
        script(src="//knockoutjs.com/downloads/knockout-3.5.1.js")
        script(src="/js/ko.extend.js")
        
        // preload data //...
        
        script(src="/js/format.js")
        script(src="/js/rate-utils.js")
