doctype html

html
    head
        title= title
        link(rel='stylesheet', href='/css/common.css')
        
    body.site-layout
        ul.top-status-line
            li
                | Всего курсов:
                div.value
                    #{aggregator.pairsCount()}
        
        block content
