doctype html

html
    head
        title(data-bind="text: exchangeRates.page.title() + ' → " + SITE_NAME + "'")= (title ? title + ', обменять по лучшему курсу — ' : '') + SITE_NAME
        
        meta(name="description" content=title + " по самому выгодному курсу в России, надежные и безопасные обменники на " + SITE_DOMAIN)
        
        block css
            link(rel='stylesheet', href='/css/common.css', media="all")
        
        // Global site tag (gtag.js) - Google Analytics
        script(async src="https://www.googletagmanager.com/gtag/js?id=G-9LGYWXRF0P")
        script
            | window.dataLayer = window.dataLayer || [];
            | function gtag(){dataLayer.push(arguments);}
            | gtag('js', new Date());
            | gtag('config', 'G-9LGYWXRF0P');
    
    body.site-layout.rates
        block pre-header
        
        include includes/header.pug
        
        block content
        
        if ! excludeFooter
            include includes/footer.pug
    
    block scripts
        // libs
        script(src="//cdn.jsdelivr.net/npm/underscore@latest/underscore-umd-min.js")
        script(src="//ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
        script(src="//knockoutjs.com/downloads/knockout-3.5.1.js")
        script(src="/js/ko.extend.js")
        
        // preload data //...
        
        script(src="/js/rate-utils.js")
