doctype html

html
    head
        title= title || "EXNODE"
        link(rel='stylesheet', href='/css/common.css')
        
    body.site-layout
        ul.top-status-line
            li
                | Всего курсов:
                em.value= aggregator.pairsCount()
                | Обменников:
                em.value #{aggregator.exchangersCount()}
                | Обновление:
                em.value #{moment( aggregator.process().now ).fromNow()}
        
        block content
