extends layout

block content
    h1 title

    form(action = "/login" method = "POST")
        input(name = "login" type = "text" required placeholder = "Login" value="root)")
        input(name = "password" type = "password" required placeholder = "Password")
        button(type = "Submit") Войти
    