extends layout

block content
    if message
        title= message
    else
        title= Вход
    
    h1= title
    
    form(action = "/login" method = "POST")
    input(name = "login" type = "text" required placeholder = "Login")
    input(name = "password" type = "password" required placeholder = "Password")
    button(type = "Submit") Войти
    