extends layout

block content
    if (user)
        h1 Здравствуй, #{ user.login }!
    
        if (isRoot)
            p Админка #[a(href="/admin/table/exchangers") здесь], через несколько секунд мы отправимся...
            
            - var code = "setTimeout(_ => { location = '/admin/table/exchangers' }, 0&& 500)";
            //- var code = "setTimeout(_ => { location = '/admin/table/users' }, 0&& 500)";
            script !{code}
        else
            p Вы можете редактировать:
            ul
                if (user.exchangerId)
                    li
                        a(href=url("admin.exchanger_edit", { id: user.exchangerId })) свой обменник
                li
                    a(href=url("admin.user_edit", { login: user.login })) свой профиль
    else
        h1 Здравствуй, Анонимаус!
    
        p Логин #[a(href="/login") здесь], можно залогиниться, если ты сотрудник.
