extends layout

block content
    if (user)
        h1 Здравствуй, #{ user.login }!
    
        if ("root" === user.login)
            p Админка #[a(href="/admin/table/exchangers") здесь], через несколько секунд мы отправимся...
        
            - var code = "setTimeout(_ => { location = '/admin/table/exchangers' }, 0&& 500)";
            script !{code}
        else
            p 
    else
        h1 Здравствуй, Анонимаус!
    
        p Логин #[a(href="/login") здесь], можно залогиниться, если ты сотрудник.
