extends layout

block content
    h1 Здравствуй, #{ user ? user.login : 'Анонимаус' }!

    if (user)
        p Админка #[a(href="/admin/index") здесь], через несколько секунд мы туда и отправимся...
        script
            setTimeout(function() { location = '/admin/index' }, 3000);
    else
        p Логин #[a(href="/login") здесь]
