.user-name {
    position: fixed;
    left: 0px;
    top: 0;
    padding: 0.4em;
    background: white;
    z-index: 1;
    font-style: italic;
}
a.admin-area-link {
    line-height: 1.6em;
    padding: 0.4em;
}
a.admin-area-link:hover,
a.admin-area-link_current {
	/* font-weight: bold; */
    background: #7dcde799;
}

form, table {
	box-shadow: 0 24px 50px 0 rgb(0 0 0 / 12%), 0 5px 15px rgb(0 0 0 / 7%);
}

td.xml {
	font-size: 80%;
}
td.xml.verify_no {
	color: lightgrey;
}
tbody tr:nth-child(odd) {
    background: #ebe8e855;
}
tbody tr:hover {
    background: #7dcde755;
}

form td.date_view {
	font-size: 90%;
}

form {
    font-size: 125%;
}
form input[type="text"],
form textarea {
	width: 32em;
}
