.user-name {
	float: left;
	font-style: italic;
}
a.current-pathname {
	font-weight: bold;
    background: #7dcde755;
}

form, table {
	box-shadow: 0 24px 50px 0 rgb(0 0 0 / 12%), 0 5px 15px rgb(0 0 0 / 7%);
}

td.xml {
	font-size: 80%;
}
td.xml.verify_no {
	color: lightgrey;
}
tbody tr:nth-child(odd) {
    background: #ebe8e855;
}
tbody tr:hover {
    background: #7dcde755;
}

form td.date_view {
	font-size: 90%;
}

form {
    font-size: 125%;
}
form input[type="text"],
form textarea {
	width: 32em;
}
