html {
    min-width: 1340px;
}

body.site-layout {
	display: block;
    margin: auto;
    max-width: 880px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

/** top line
 */
.top-status-line {
    list-style-type: none;
    display: inline-block;
    width: 100%;
    margin: 0 0em 0.2em;
    padding: 0;
    line-height: 2em;
    background: lightgray;
}
.top-status-line:after {
    display: block;
    clear: both;
}

.top-status-line li {
    float: right;
}
.top-status-line li .value {
    margin: 0 0.62em 0 0.2em;
    color: green;
}

/** header logo
 */
.logo {
    float: left;
    margin-right: 0.13em;
    text-transform: uppercase;
    font-family: monospace;
    font-weight: bolder;
    
    /* font-size: 4.8em;
    line-height: .8em; */
    
    font-size: 3.8em;
    line-height: .83em;
    font-family: poppins-bold,Arial,serif;
}

/** header menu
 */
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #24890e;
    border-bottom-left-radius: 0.4em;
    border-top-left-radius: 0.4em;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #2ead13;
}

.menu li.active a {
    color: white;
    background-color: #2ead13;
}

/** form#exchange-form
 */
#exchange-form {
    display: none; /*flex;*/
    padding: 1em;
    -webkit-box-shadow: 1px 1px 9px 0px #c5c4c4;
    box-shadow: 1px 1px 9px 0px #c5c4c4;
    font-size: .9em;
}
#exchange-form .column {
    flex: 50%;
}
#exchange-form .column:not(:last-child) {
    padding-right: 1.5em;
}
#exchange-form .line {
    margin-bottom: 1em;
}
#exchange-form input,
#exchange-form select {
    height: 2em;
    width: 100%;
    padding: 0 1em;
    box-sizing: border-box;
    border-radius: 1em;
    border: 1px solid #b5b8b5;
    font-size: 1.38em;
    box-shadow: 1px 1px 2px 0px #c2f2b7;
    /* border-color: #c2f2b7; */
}
#exchange-form input:not(:not(:focus, :hover)):not(:disabled),
#exchange-form select:focus, #exchange-form select:hover {
    box-shadow: 1px 1px 5px 0px #24890e;
    border-color: #24890e;
}
#exchange-form input:disabled {
    background: lightgray
}


/** table#exchange-table
 */
#exchange-table {
	display: table;
    width: 100%;
    box-shadow: 0px 0px 4px 0px #c5c4c4;
    font-family: Source Sans Pro,Helvetica Neue,helvetica,arial,sans-serif,Helvetica,Arial;
    font-size: 1.1em;
}
#exchange-table td:first-child {
	width: 2em;
}

/** footer
 */
footer {
	padding: 1em;
    min-height: 10em;
    background: gray;
}


/** forms & tables
 */
form {
    display: inline-block;
}
form input, form button, form select {
    padding: .3em;
    border: 1px black solid;
}

table {
    border-collapse: collapse;
}
table td, table th {
    padding: 0em 0.4em;
    text-align: left;
    line-height: 2em;
}
thead th {
    border-bottom: 1px solid lightgray;
}
thead tr {
    position: sticky;
    top: 0;
    background: white;
}

/* shorthand */
.hover_visible { visibility: hidden }
.hover_visible:hover { visibility: visible }

.tr-hover_visible { visibility: hidden }
tr:hover .tr-hover_visible { visibility: visible }

.tr-hover_show { display: none }
tr:hover .tr-hover_show { display: block }

/* flags */
.rate-flags {
    transition: color .2s .1s;
    text-align: right;
    white-space: nowrap;
}

i.rate-flag {
    display: inline-block;
    /* float: right; */ 
    width: 1.35em;
    height: 1.35em;
    border: 0px dotted black;
    border-radius: 50%;
    line-height: 1.25em;
    text-align: center;
    text-transform: capitalize;
    background: white;
    /* white-space: nowrap; */
    box-shadow: 1px 1px 9px 0px #c5c4c4;
}

.rate-flag::before {
    content: '...';
    font-size: .8em;
    font-style: normal;
    color: black;
}
.rate-flag-manual::before { content: 'm' }
.rate-flag-floating::before { content: '⇅' }  /* ↕ */
.rate-flag-percent::before { content: '%' }
.rate-flag-otherin::before { content: '↯' }
.rate-flag-otherout::before { content: '↯'; transform: rotate(180 degrees) }
.rate-flag-card2card::before { content: '🧍🧍' }
.rate-flag-delivery::before { content: '🚗'; font-size: .7em; }
.rate-flag-verifying::before { content: '🧍' }
.rate-flag-cardverify::before { content: '💳' }
.rate-flag-reg::before { content: '🔑' }
.rate-flag-purse::before { content: '👛' }
.rate-flag-official::before { content: '💼' }
.rate-flag-delay::before { content: '⏳' }
/*
.rate-flag-::before { content: '' }
.rate-flag-::before { content: '' }
*/

.utf8-icon {
    text-decoration: none;
    /* font-size: 1.1em; */
}
.utf8-icon_inline {
    font-size: 1em;
}
