body {
	font-family: Tahoma;
}

form {
	display: inline-block;
}

form input {
	padding: .3em;
	border: 1px black solid;
}

table td, table th {
    padding: .4em .4em;
	text-align: left;
}

thead th {
    border-bottom: 1px solid lightgray;
}

thead tr {
    position: sticky;
    top: 0;
    background: white;
}
