.rates {
	font-family: Tahoma;
    font-size: 1.1em;
    display: inline-block;
}

.rates form {
    font-size: 1.5em;
    text-align: right;
    margin: 0.5em 0;
}
.rates form select {
    font-size: 14pt;
    border-color: lightgray;
}
.rates form span:hover {
	cursor: pointer;
}

.rates table {
    font-size: 1em; /* 1.2em; */
    border-collapse: collapse;
}

.rates * {
    transition: background-color .2s/*, color .1s*/;
}

.rates table tr {
	line-height: 2.1em;
	cursor: pointer;
}

.rates table thead tr {
	font-size: 1.2em;
    line-height: 1.88em;
}

/* flags */
.rates .rate-flags {
    transition: color .2s .1s;
    text-align: right;
    white-space: nowrap;
}

.rates i.rate-flag {
    display: inline-block;
    /* float: right; */
    width: 1.06em;
    height: 1em;
    border: 1px dotted black;
    border-radius: 50%;
    line-height: 1em;
    text-align: center;
    font-style: normal;
    text-transform: capitalize;
    color: transparent;
}

.rates .rate-flag::before {
	content: '*';
	font-size: .8em;
}
.rates .rate-flag-manual { content: 'm' }

.rates table tbody tr {
    color: black;
}
.rates table tbody tr:nth-child(odd){
	background: rgba(240,240,240,1);
}

/* .rates table thead tr, */
.rates table tbody tr:hover {
	/* color: white; */
	background: #7dcde7;
}

.rates table td {
    padding: 0 12px; /* fixed padding for different font-size of thead/tbody */
    min-width: 8em;
    text-align: left;
}
.rates table td:first-child {
	min-width: 1em;
}

.rates table td strong {
    font-weight: bolder;
}

.rates table td small {
	font-size: .6em;
    color: gray;
}

.rates table .rate-amount {
	text-align: right;
	font-size: .9em
}

/* sort by/dir */
.rates thead td.sort-by:hover:after {
	color: black;
}
.rates thead td.sort-by:after {
 	padding-left: .5em;
 	font-weight: bolder;
}
.rates thead .sort-dir_desc td.sort-by:after {
	content: '↓';
}
.rates thead .sort-dir_asc td.sort-by:after {
	content: '↑';
}

.rates aside {
    position: absolute;
    width: 13em;
    /* overflow-x: visible; */
}
.rates aside.from {
	left: 0;
	text-align: left;
}
.rates aside.to {
	right: 0;
	text-align: right;
}
.rates aside label {
	display: block;
	    padding: 0.5em;
}
.rates aside label:hover {
	background-color: #c6e8f3;
}
.rates aside label.selected {
	background-color: #7dcde7;
}
