.rates {
	font-family: Tahoma;
    font-size: 1.0em;
    display: inline-block;
}

.rates form {
    font-size: 1.5em;
    text-align: right;
    margin: 0.5em 0;
}
.rates form select {
    font-size: 14pt;
    border-color: lightgray;
}
.rates form span:hover {
	cursor: pointer;
}

.rates table {
    font-size: 1em; /* 1.2em; */
    border-collapse: separate;
    border-spacing: 0;
}

/* initial transparent & transition  */
.rates table.initial * {
    color: transparent !important;
    box-shadow: none !important;
    border-color: transparent !important;
}
.rates table.initial tr:nth-child(odd) {
    background: transparent !important;
}
.rates table * {
    transition: background .2s, border-color .2s, color .2s;
}
.rates table thead * {
    transition: background .2s, border-color .2s, color .2s;
}

.rates td:empty {
	color: transparent;
}

.rates tr {
	line-height: 2.1em;
	cursor: pointer;
}
/*
.rates thead {
    background: white;
    position: sticky;
    top: 0;
}
*/
/*
.rates thead.sticking {
  box-shadow: 0 6px 10px 0   rgba(0, 0, 0, 0.14),
              0 1px 18px 0   rgba(0, 0, 0, 0.12),
              0 3px 5px -1px rgba(0, 0, 0, 0.4);
}
*/
.rates thead tr {
	font-size: 1.2em;
    line-height: 1.88em;
    border-bottom: 1px black solid;
    box-shadow: 6px 70px 36px -17px rgb(131 130 130 / 75%)
}

.rates thead th {
	background: rgba(255,255,255,.96);
    position: sticky;
    top: 0;
    z-index: 2;
    /* border-top: 1px solid red !important; */
    border-bottom: 1px solid #dbd9d9 !important
}

.rates tbody tr {
    color: black;
}
.rates tbody tr:nth-child(odd) {
	background: linear-gradient(to right,
		rgb(136 220 49 / 19%), 
		rgb(136 220 49 / 38%) 4%, 
		rgb(136 220 49 / 40%) 100%,  
		rgba(244,244,244,0)
    );
}

/* .rates table thead tr, */
.rates tbody tr:hover {
	/* color: white; */
	background: #7dcde7;
}

.rates th,
.rates td {
    padding: 3px 12px; /* fixed padding for different font-size of thead/tbody */
    min-width: 8em;
    text-align: left;
    font-weight: normal;
}
.rates th:first-child,
.rates td:first-child {
	min-width: 1em;
}

.rates td strong,
.rates td .float {
	display: inline;
    font-weight: bolder;
    white-space: nowrap;
}

.rates td small,
.rates td .currency {
    display: inline;
    margin-left: .6em;
	font-size: .6em;
    color: gray;/*ebanutso #bf6e20;*/
    white-space: nowrap;
}

.rates .rate-flags,
.rates .rate-amount {
	text-align: right;
	white-space: nowrap;
}
.rates tbody .rate-amount {
	font-size: .9em
}

/* sort by/dir */
.rates thead th.sort-by:hover:after {
	color: black;
}
.rates thead th.sort-by:after {
 	padding-left: .5em;
 	font-weight: bolder;
}
.rates thead .sort-dir_desc th.sort-by:after {
	content: '↓';
}
.rates thead .sort-dir_asc th.sort-by:after {
	content: '↑';
}

/* aside as currency list */
.rates aside {
    position: absolute;
    width: 13em;
    overflow-x: visible;
}
.rates aside.fixed {
    position: fixed;
    width: 15em;
    max-height: 100%;
    /* overflow-x: visible; */
    overflow-y: scroll;
}
.rates aside.fixed:not(:hover) {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.rates aside.fixed:not(:hover)::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

.rates aside.from {
	right: 16.5em;
	text-align: left;
}
.rates aside.to {
	right: 0;
	text-align: right;
}
.rates aside .sticky-head,
.rates aside .currency {
    display: block;
    padding: 0.5em;
    white-space: nowrap;
    overflow-x: visible;
}
.rates aside .currency:after {
	content: ' ';
	display: block;
	clear: both;
}
.rates aside .currency:not(.disabled):hover {
	background: #c6e8f3;
}
.rates aside .selected {
	background: #7dcde7;
}
.rates aside .selected .currency-name {
    font-weight: bolder;
}
.rates aside sub {
	color: lightgray;
}
.rates aside .currency:not(.disabled):hover sub,
.rates aside .currency.selected sub {
    color: gray;
    font-weight: bolder;
}
.rates aside .currency-name {
    float: left;
}
.rates aside .currency-symbol {
    float: right;
}
.rates aside .currency input[type="radio"] {
	display: none;
}
